body{
    background-color: #0A0A0A;
    color: #F4F4F4;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formulario {
    background: #1c1c1c;
    padding: 20px;
    border-radius: 20px;
    width: 300px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
}

textarea {
    resize: none;
}
button {
    width: 100%;
    background: #E10600;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}